* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --primary-color: ##28df99;

}

:root {
    
}

/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap"); */

body {
    /* background: red; */
    position: relative;
}

.overlay-container .overlay-top {
    position: fixed;
    top: 0;
    background: linear-gradient(
        180deg,
        #ffffff 53.65%,
        rgba(255, 255, 255, 0) 100%
    );
    width: 100vw;
    height: 15.5rem;
    @media only screen and (max-width: 600px) {
    }
}

.overlay-container .overlay-bottom {
    position: fixed;
    background: linear-gradient(
        180deg,
        #ffffff 53.65%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: rotate(-180deg);
    bottom: 0;
    width: 100vw;
    height: 15.5rem;
}

header nav .logo {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 2.75rem;
    text-align: center;
    border: 1px solid red;
    font-family: "Pacifico", cursive;
    color: var(--primary-color);
}


